.main-block
{
    width: 350px;
    margin: 100px 460px;
    background-color: white;
    box-shadow: 10px 10px rgb(0.0,0.0,0.1);
    height: 500px;
    border-radius: 10px;
    border-color: black;
   border-style:outset;
   padding-right:20px;
}

.img1
{
    padding: 15px 0px 15px 15px;
    width: 328px;
    height: 200px;
    margin-left: 5px;
    border-radius: 30px;
}

.learning
{
    background-color:hsl(47, 88%, 63%) ;
    padding: 4px;
    color: black;
    margin-left: 20px;
    width: 70px;
    font-family: "Figtree", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-size: 13px;
    border-radius: 5px;
    text-align: center;
}

.publish
{
    font-family: "Figtree", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 14px;
    color: hsl(0, 1%, 31%);
    margin-left: 20px;
    margin-top: 12px;
}

.htmlcss
{
    font-family: "Figtree", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    color: black;
    margin-left: 20px;
    margin-top: 14px;
}

.htmlcss:hover
{
   color:hsl(47, 88%, 63%) ;
}   

p
{
    
    font-family: "Figtree", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    color: hsl(0, 0%, 50%);
    margin-left: 20px;
    font-size: 16px;
}

.img2
{
    width: 30px;
    border-radius: 50%;
    margin-left: 20px;
    margin-top: 13px;
}

.greg
{
    
    font-family: "Figtree", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    color: black;
    margin-left: 60px;
    margin-top: -30px;
}






























/* 
<!-- # Front-end Style Guide

## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

> 💡 These are just the design sizes. Ensure content is responsive and meets WCAG requirements by testing the full range of screen sizes from 320px to large screens.

## Colors

### Primary

- Yellow: hsl(47, 88%, 63%)

### Neutral

- White: hsl(0, 0%, 100%)
- Grey: hsl(0, 0%, 50%)
- Black: hsl(0, 0%, 7%)

## Typography

### Body Copy

- Font size (paragraph): 16px

### Font

- Family: [Figtree](https://fonts.google.com/specimen/Figtree)
- Weights: 500, 800

> 💎 This is a free+ challenge. So, if you want to see all the design details and practice working with professional tools like Figma, you can download the design file from where you downloaded the starter code. --> */
